#titulo {
    color: var(--app-pink);
    text-align: center;
    font-size: 62px;
    font-weight: bolder;
    margin-bottom: 60px;
}

#subtitulo {
    color: var(--light-text-white);
    opacity: 0.55;
    font-size: 18px;
}

.card-header {
    //display: flex;
}

.date {
    color:var(--app-pink);
}

.card {
    max-width: 800px;
    margin: 0 auto;
}

.description {
    color: var(--light-text-white);
    opacity: 0.55;
}

.experiences {
    display: flex;
    flex-direction: column;
}

.experiences-title {
    color: white;
}

.box {
    text-align: center;
    margin: 0 auto;
    padding: 100px;
}