#titulo {
    color: #FF006E;
    text-align: center;
    font-size: 62px;
    font-weight: bolder;
    margin-bottom: 50px;
}

.main {
    display: flex;
}

#subtitulo {
    color: #FBFBFB;
    opacity: 0.55;
    font-size: 18px;
}

.box {
    margin: 0 auto;
    padding: 100px;
}