header {
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  min-height: 80px;
}

#logo {
  width: 40px;
  height: 40px;
}

ul {
  height: 100%;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 1rem;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: var(--strong-text-white);
}

a:hover, .active-route {
  color: var(--app-pink);
}
