<header>
  <img src="assets/icons/header-icon.png" alt="Logo" id="logo">
  <nav>
    <ul>
      @for(item of navItems; track item){
        @if(
          (
            (this.authService.isLoggedIn() && item.url !== '/login') ||
            (!this.authService.isLoggedIn() && (item.url !== "/logout" && item.url !== "/edit"))
          )
          ){
          <li>
            <a
              [routerLink]="item.url"
              [routerLinkActive]="'active-route'"
            >
              {{ item.text }}
            </a>
          </li>
        }
      }
    </ul>
  </nav>
</header>
