<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="imageUrl" [alt]="title">
  <mat-card-content>
    <p>{{ description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [href]="linkUrl" target="_blank">{{ linkText }}</a>
  </mat-card-actions>
</mat-card>


<!-- Copyright 2025 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->