section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero {
  margin-bottom: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30%;
}

li {
  padding: 12px;
}

#submit-btn {
  border-color: var(--app-pink);
  color: var(--light-text-white);
  min-width: 32px;
}
