form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

li {
  padding: 12px;
}

#submit-btn {
  border-color: var(--app-pink);
  color: var(--light-text-white);
  min-width: 32px;
}
